@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Oswald:wght@500&display=swap');
/*
Font family rules
font-family: 'Biryani', sans-serif;
font-family: 'Oswald', sans-serif; 
*/
:root {
        --background: rgba(112, 150, 69, 0.69);
        --offerbg: rgba(112, 150, 60, 0.69);
}

* {
        margin: 0;
        padding: 0;
        border: 0;
}

body {
        text-align: center;
}

body h2 {
        padding-top: 10px;
}

body p {
        font-family: 'Biryani', sans-serif;
        font-size: 18px
}

/* Navigation Style */

header {
        font-size: 100%;
        font-family: 'Oswald', sans-serif;
        background: var(--background);
        text-transform: uppercase;
        position: fixed;
        min-height: 5%;
        max-height: 10%;
        width: 100%;
        z-index: 999;
}

.about-text {
        display: block;
        padding: 10px;
        border: none;
}

.nav-tog {
        display: none;
}

nav {
        font-family: 'Oswald', sans-serif;
        color: green;
        position: absolute;
        text-align: left;
        background: var(--background);
        top: 100%;
        left: 0;
        Margin:auto;
        transform: scale(1,0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
}

nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
}

nav li {
        margin: 20px 20px 20px 20px;
}

nav a {
        color: bisque;
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 120ms ease-in-out;
}

nav a:hover {
        color: rgb(0, 255, 64);
}

.nav-tog:checked ~ nav {
        transform: scale(1,1);
}

.nav-tog:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
}

.nav-tog-label {position: absolute;
        top: 20%;
        left: 10px;
        margin-left: 1em;
        display: flex;
        align-items: center;
}

.logo {
        position: relative;
        text-shadow: 1px 1px 2px yellowgreen, 0 0 6px green, 0 0 8px darkgreen;
}

/* Main image and cover text */

.hero-img-out{
        overflow: hidden;
        height: 600px;
        width: 100%;
        position: relative;
        background-size: cover;
}

.hero-img{
        height: 600px;
        width: 100%;

        /* Animates zoom effect on loading the page */
        
        animation-name: main-img-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */

@keyframes main-img-zoom {
        from{
                transform: scale(0.9);
        }
        
        to{
                transform: scale(1);
        }
}

#mission {
        font-family: 'Biryani', sans-serif;
        text-align: center;
}

#misson p {
        font-size: 18px;
        padding: 5% 4% 5% 4%;
}

footer {
        float: inline-end;
        margin-bottom: 0;
        height: 10%;
        width: 100%;
        background-color: var(--background);
        text-shadow: 1px 1px 1px black, 2px 3px 5px grey;
}

#contact {
        padding-top: 20px;
        text-align: center;
}

.social-networks {
        text-align: center;
        padding: 0;
}
    
.social-networks li{
        display: inline;
}
    
.social-networks i{
        font-size: 280%;
        color: green;
        margin: 3%;
        padding: 0% 5% 0 5%;
}

.social-networks i:hover {
        color: yellowgreen;
}

.social-networks i:visited {
        color: yellowgreen;
}

/* offerings.html css */

.off-out {
        position: relative;
        text-align: center;
        margin: 2% 0 0 5%;
        padding-bottom: 50p;
        text-shadow: 1px 1px 1px black, 5px 5px 10px rgba(105, 105, 105, 0.4);
}

#stress-managment-about {
        height: 90%;
        width: 90%;
        border: 3px solid rgb(0, 80, 0);
        background-color: var(--offerbg);
        border-radius: 1%;
}

#stress-managment-about h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 26px;
        Color: rgb(0, 100, 1);
        padding: 10px;
        text-transform: uppercase;
}

#stress-managment-about p {
        font-family: 'Biryani', sans-serif;
        font-size: 20px;
        color: black;
        padding: 0 20px 5px 20px;
        text-transform: capitalize;
}

#self-discovery-about {
        height: 90%;
        width: 90%;
        margin-bottom: 20px;
        text-align: center;
        border: 3px solid rgb(0, 80, 0);
        background-color: var(--offerbg);
        border-radius: 1%;
}

#self-discovery-about h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 26px;
        position: relative;
        Color: rgb(0, 100, 1);
        padding: 10px;
        text-transform: uppercase;
}

#self-discovery-about p {
        font-size: 20px;
        position: relative;
        color: black;
        padding: 0 20px 5px 20px;
        text-transform: capitalize;
}

/* Review.html CSS */

.testimonials {
        padding: 4px 0;
        text-align: center;
}

.inner {
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
        padding: 0 20px;
}

.border {
        width: 160px;
        height: 5px;
        background: #00eb5a;
        margin: 2px auto;
        box-shadow: 3px 3px 5px grey;
}

.row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.col {
        text-align: center;
        flex: 30%;
        max-width: 30%;
        display: inline-block;
        box-sizing: border-box;
        margin: 5px 10px 30px 5px;
        padding: 15px;
        border: 1px solid black;
        border-radius: 15%;
        box-shadow: 1px 1px 1px black, 3px 3px 5px grey;
}

.testimonial {
        background-color: #fafafa;
        padding: 30px;
}

.profile-img {
        width: 25%;
        height: 25%;
        border-radius: 50%;
}

.name {
        font-size: 20px;
        text-transform: uppercase;
        padding: 5px;
}

.rev-title {
        padding: 5px;
}

.stars {
        color: gold;
        padding: 5px;
        text-shadow: 1px 1px 1px black, 2px 3px 5px grey;
}

.review-text {
        font-size: 12px;
}

/* Form */

.form-section {clear: left;
        background: url("../images/boxfall.webp") no-repeat center;
        background-size: cover;
        background-position: center;
        height: 1200px;
}
    
.signup-form {
        margin: 200px 12px 0 0;
        color: #fff;
        background-color: rgba(60, 60, 60, 0.8);
        max-width: 400px;
        left: 10%;
        position: absolute;
        padding: 30px;
        border-radius: 10% 20%;
}
    
.signup-form > h2 {	
        color: var(--signup-text);
        margin-bottom: 20px;
}	
    
.text-input {	
        background: transparent;	
        color: rgb(200, 255, 200);
        width: 100%;
        height: 25px;
        margin: 5px 0 20px 0;
        border: 1px solid #fafafa;
        border-radius: 2px;
        text-align: center;
}	
    
.text-input:hover {	
        border-color: var(--signup-text);	
}
    
.join-button {	
        margin-top: 20px;
        margin-right: 30px;	
        border-radius: 60%;	
        padding: 15px 32px;	
        text-align: center;	
        font-size: 100%;	
        background-color: rgb(0, 80, 0);	
        color: bisque;	
        display: block;
        position: absolute;
        right: -50px;
        text-shadow: 1px 1px 1px black, 3px 2px 5px black;
}	
    
input[type="radio"] {
        margin: 10px;
        padding: 10px;
        position: relative;
        display: inline;
}
    
.join-button:hover {	
        background-color: rbga(112, 180, 20, 1);	
        color: rgb(10, 255, 10);
}

/* Media Querries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){  
        body p {
                font-size: 16px;
                padding: 0 5px 0 5px;
        }

        .social-networks i{
                font-size: 240%;
                color: green;
                padding: 2% 5% 0 5%;
            }
}
    
/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){
        .col {
                flex: 100%;
                max-width: 90%;
        }

        body p {
                font-size: 15px;
                padding: 0 8px 0 8px;
        }

        .social-networks i {
                font-size: 220%;
                color: green;
                padding: 2% 5% 0 5%;
        }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px){
        .col {
                flex: 100%;
                max-width: 100%;
        }

        body p {
                font-size: 14px;
                padding: 0 8px 0 8px;
        }

        .social-networks i {
                font-size: 200%;
                color: green;
                padding: 2% 5% 0 5%;
            }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 450px){
        h1 {
                position: relative;
                font-size: 110%;
                padding-top: 10px;
        }

        body p {
                font-size: 16px;
                padding: 0 8px 0 8px;
        }
        
        footer {
                font-weight: bolder;
        }
        
        .social-networks i{
                font-size: 180%;
                color: green;
            }
}